/* подвал водвал */

.footer {
 margin-top: 100px;
    height: 500px;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4) ), url(/img/Apple-Macintosh.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer__list {
    color: rgb(247, 245, 241);
    text-align: center;
    margin: auto;
    
    margin-top: 100px;
}

.footer__title {
    font-size: 30px;
}

.footer__text {
    font-size: 20px;
    font-weight: 100;
}

.footer__input {
width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    outline: none;
    
    
}

.footer__btn--containerr {
    margin-left: 550px;
    margin-top: 50px;
}

.underfooter {
    background: rgb(26, 24, 24);
    height: 100px;
    margin-top: 50px;
}

.underfooter__text {
    color: rgb(56, 40, 48);
    text-align: center;
    
    padding-top: 20px;
}

@media (max-width: 720px) {
    /* подвал водвал */

.footer {
 margin-top: 50px;
    height: 500px;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4) ), url(/img/Apple-Macintosh.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer__list {
    color: rgb(247, 245, 241);
    text-align: center;
    margin: auto;
    
    margin-top: 100px;
}

.footer__title {
    font-size: 30px;
}

.footer__text {
    font-size: 20px;
    font-weight: 100;
}

.footer__input {
width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    outline: none;

    margin-bottom: 10px;
    
    
}

.footer__btn--containerr {
    margin-left: 280px;
    /* margin-top: 10px; */
    padding-bottom: 0px;}

.underfooter {
    // background: rgb(26, 24, 24);
    // height: 100px;
    margin-top: -48px;
}

.underfooter__text {
    color: rgb(56, 40, 48);
    text-align: center;
    
    padding-top: 50px;
}

}

@media (max-width: 360px) {
    /* подвал водвал */

.footer {
 margin-top: 50px;
    height: 500px;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4) ), url(/img/Apple-Macintosh.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer__list {
    color: rgb(247, 245, 241);
    text-align: center;
    margin: auto;
    
    margin-top: 100px;
}

.footer__title {
    font-size: 30px;
}

.footer__text {
    font-size: 20px;
    font-weight: 100;
}

.footer__input {
width: 258px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    outline: none;

    margin-bottom: 10px;
    
    
}

.footer__btn--containerr {
    margin-left: 110px;
    /* margin-top: 10px; */
    padding-bottom: 0px;}

.underfooter {
    // background: rgb(26, 24, 24);
    // height: 100px;
    margin-top: -48px;
}

.underfooter__text {
    color: rgb(56, 40, 48);
    text-align: center;
    
    padding-top: 50px;
}

}