/* main content */


 /* section 1 */
.hero__title--container {
    margin-left: 40%;
    margin-top: 100px;
}

.hero__text {
    font-size: 19px;
    font-style: normal;
    line-height: 28px;
    font-weight: 100;
    text-align: center;
    color: rgb(70, 67, 67);
}

.current::after {
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 1px;
    border-radius: 2px;
    margin-top: 28px;
    background-color: blue;
    margin-left: 6%;
    /* margin-bottom: 100px; */
}

.features {
  font-family: Roboto, sans-serif;
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  
  margin-bottom: 30px;
}

.features__list {
  flex-wrap: wrap;
  display: flex;
  padding: 0;
  margin: 0;

  margin-left: -30px;
  margin-top: -30px;
}

.features__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.features__description {
  color: black;
  width: 270px;
  height: 16px;
  left: 215px;
  top: 774px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 10px;
  text-align: center;
}

.features__text {
  color: grey;
  width: 270px;

  left: 215px;
  top: 800px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
   font-weight: 100;
}

/* section 2 */

.container--section {
    margin-top: 100px;
}

.img__thumb {
    width: 700px;
    margin-top: -70px;
}

.hero__list {
    margin-bottom: 180px;
    margin-left: 40px;
}

.current1::after {
     
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 1px;
    border-radius: 2px;
    margin-top: 28px;
    background-color: blue;
    /* margin-left: 2.2%; */
    /* margin-bottom: 100px; */
}

.hero__list1 {
    /* margin-left: 50px; */
    margin-top: 100px;
}

.hero__item {
    margin-right: 100px;
}

.hero__item--text {
    color: grey;
    /* width: 270px; */
    left: 215px;
    top: 800px;
    /* text-align: center; */
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    font-weight: 100;
}

.hero__btn--container {
    margin-top: 350px;
    margin-left: -250px;
}

.hero__btn {
    font-size: 16px;
    line-height: 1.87;
    color: #ffffff;
    background-color: rgb(255, 81, 0);
    box-shadow: 0px 4px 4px rgb(70, 67, 67);
    border-radius: 4px;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
}

.hero__btn:hover {
    background-color: orange;
}

/* section section ---33 */




  .work__title {
    font-family: Montserrat;
    font-style: normal;
    

    
  }

  .work__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-top: 50px;
  }

  .work__item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
    
    position: relative;
    top: 0;
    left: 0;
    flex-basis: calc(100% / 3 - 20px);
      margin-top: 10px;
      margin-left: 10px;

    

    
  }

  .work__item:hover,
  .work__item:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    
    

    
  }

  .work__card {
    position: relative;
    padding: 30px 30px;
    /* background-color: rgb(83, 82, 82); */
  }

  .work__element {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 164.9%;

    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.08em;
    
  }

  .work__text {
    color: black;
  /* width: 270px; */
  height: 16px;
  left: 215px;
  top: 774px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
  }

  .work__paragraph {
      color: grey;
  width: 270px;

  left: 215px;
  top: 800px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
   font-weight: 100;
   text-align: center;
   /* padding-bottom: 55px; */
    padding-left: 15px;
    padding-right: 15px;
    
}
  

  

  .work__thumb--svg {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 39px;
    margin-bottom: 39px;
    
  }

.hero__btn--containerr {
    margin-left: 550px;
    margin-top: 50px;
}

.hero__btnn {
font-size: 16px;
    line-height: 1.87;
    color: #ffffff;
    background-color: rgb(255, 81, 0);
    box-shadow: 0px 4px 4px rgb(70, 67, 67);
    border-radius: 4px;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
}

.hero__btnn:hover {
    background-color: orange;
}

/* секция последняя  */

.last__list {
  flex-wrap: wrap;
  display: flex;
  padding: 0;
  margin: 0;

  margin-left: 60px;
  margin-top: 30px;
}

.last__item {
  flex-basis: calc(100% / 3 - 60px);
  margin-left: 60px;
  margin-top: 60px;
}

.last__item--text {
    color: grey;
  width: 270px;

  left: 215px;
  top: 800px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
   font-weight: 100;
}

.last__item--name {
    /* color: black; */
  width: 270px;
  height: 16px;
  left: 215px;
  top: 774px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 720px) {
 /* section 1 */
.hero__title--container {
    margin-left: 30%;
    margin-top: 0px;
}

.hero__text {
    font-size: 19px;
    font-style: normal;
    line-height: 28px;
    font-weight: 100;
    text-align: center;
    color: rgb(70, 67, 67);
}

.current::after {
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 1px;
    border-radius: 2px;
    margin-top: 28px;
    background-color: blue;
    margin-left: 6%;
    /* margin-bottom: 100px; */
}

.features {
  font-family: Roboto, sans-serif;
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  
  margin-bottom: 30px;
}

.features__list {
  flex-wrap: wrap;
  display: flex;
  padding: 0;
  margin: 0;

//   margin-left: 30px;
  margin-top: -30px;
}

.features__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.features__description {
  color: black;
  width: 270px;
  height: 16px;
  left: 215px;
  top: 774px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 10px;
  text-align: center;
}

.features__text {
  color: grey;
  width: 270px;

  left: 215px;
  top: 800px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
   font-weight: 100;
}

/* section 2 */

.container--section {
    margin-top: 100px;
}

.img__thumb {
    width: 300px;
    margin-top: -70px;
}

.hero__list {
    margin-bottom: 180px;
    margin-left: 30px;
}

.current1::after {
     
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 1px;
    border-radius: 2px;
    margin-top: 28px;
    background-color: blue;
    /* margin-left: 2.2%; */
    /* margin-bottom: 100px; */
}

.hero__list1 {
    /* margin-left: 50px; */
    margin-top: 100px;
}

.hero__item {
    margin-right: 100px;
}

.hero__item--text {
    color: grey;
    /* width: 270px; */
    left: 215px;
    top: 800px;
    /* text-align: center; */
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    font-weight: 100;
}

.hero__btn--container {
    margin-top: 350px;
    margin-left: -450px;
}

.hero__btn {
    font-size: 16px;
    line-height: 1.87;
    color: #ffffff;
    background-color: rgb(255, 81, 0);
    box-shadow: 0px 4px 4px rgb(70, 67, 67);
    border-radius: 4px;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
}

.hero__btn:hover {
    background-color: orange;
}

/* section section ---33 */




  .work__title {
    font-family: Montserrat;
    font-style: normal;
    

    
  }

  .work__list {
    // display: flex;
    display: -webkit-box;
    flex-wrap: wrap-reverse;
    // margin-left: -10px;
    // margin-top: 50px;
  }

  .work__item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
    
    position: relative;
    top: 0;
    left: 0;
    flex-basis: calc(100% / 2 - 20px);
    //   margin-top: 10px;
    //   margin-left: 10px;

    

    
  }

  .work__item:hover,
  .work__item:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    
    

    
  }

  .work__card {
    position: relative;
    padding: 30px 30px;
    /* background-color: rgb(83, 82, 82); */
  }

  .work__element {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 164.9%;

    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.08em;
    
  }

  .work__text {
    color: black;
  /* width: 270px; */
  height: 16px;
  left: 215px;
  top: 774px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
  }

  .work__paragraph {
      color: grey;
  width: 270px;

  left: 215px;
  top: 800px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
   font-weight: 100;
   text-align: center;
   /* padding-bottom: 55px; */
    padding-left: 15px;
    padding-right: 15px;
    
}
  

  

  .work__thumb--svg {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 39px;
    margin-bottom: 39px;
    
  }

.hero__btn--containerr {
    margin-left: 270px;
    margin-top: 50px;
}

.hero__btnn {
font-size: 16px;
    line-height: 1.87;
    color: #ffffff;
    background-color: rgb(255, 81, 0);
    box-shadow: 0px 4px 4px rgb(70, 67, 67);
    border-radius: 4px;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
}

.hero__btnn:hover {
    background-color: orange;
}

/* секция последняя  */

.last__list {
  flex-wrap: wrap;
  display: flex;
  padding: 0;
  margin: 0;

  margin-left: 140px;
  margin-top: 30px;
}

.last__item {
  flex-basis: calc(100% / 3 - 60px);
  margin-left: 60px;
  margin-top: 60px;
}

.last__item--text {
    color: grey;
  width: 270px;

  left: 215px;
  top: 800px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
   font-weight: 100;
}

.last__item--name {
    /* color: black; */
  width: 270px;
  height: 16px;
  left: 215px;
  top: 774px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  margin-bottom: 10px;
  text-align: center;
}


}

@media (max-width: 360px) {
 /* section 1 */
.hero__title--container {
    margin-left: 30%;
    margin-top: 0px;
}

.hero__text {
    font-size: 19px;
    font-style: normal;
    line-height: 28px;
    font-weight: 100;
    text-align: center;
    color: rgb(70, 67, 67);
}

.current::after {
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 1px;
    border-radius: 2px;
    margin-top: 28px;
    background-color: blue;
    margin-left: 6%;
    /* margin-bottom: 100px; */
}

.features {
  font-family: Roboto, sans-serif;
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  
  margin-bottom: 30px;
}

.features__list {
  flex-wrap: wrap;
  display: flex;
  padding: 0;
  margin: 0;

//   margin-left: 30px;
  margin-top: -30px;
}

.features__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.features__description {
  color: black;
  width: 270px;
  height: 16px;
  left: 215px;
  top: 774px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 10px;
  text-align: center;
}

.features__text {
  color: grey;
  width: 270px;

  left: 215px;
  top: 800px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
   font-weight: 100;
}

/* section 2 */

.container--section {
    margin-bottom: -300px;
    margin-top: 0px;
}

.img__thumb {
    width: 300px;
    margin-top: -70px;
}

.hero__list {
    margin-bottom: 680px;
    margin-left: -290px;
}

.current1::after {
     
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 1px;
    border-radius: 2px;
    margin-top: 28px;
    background-color: blue;
    /* margin-left: 2.2%; */
    /* margin-bottom: 100px; */
}

.hero__list1 {
    /* margin-left: 50px; */
    margin-top: 100px;
}

.hero__item {
    margin-right: 100px;
}

.hero__item--text {
    color: grey;
    /* width: 270px; */
    left: 215px;
    top: 800px;
    /* text-align: center; */
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    font-weight: 100;
}

.hero__btn--container {
    margin-top: 230px;
    margin-left: -300px;
}

.hero__btn {
    font-size: 16px;
    line-height: 1.87;
    color: #ffffff;
    background-color: rgb(255, 81, 0);
    box-shadow: 0px 4px 4px rgb(70, 67, 67);
    border-radius: 4px;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
}

.hero__btn:hover {
    background-color: orange;
}

/* section section ---33 */




  .work__title {
    font-family: Montserrat;
    font-style: normal;
    

    
  }

  .work__list {
    // justify-content: ;
  }

  .work__item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
    
    position: relative;
    top: 0;
    left: 0;
    flex-basis: calc(100% / 2 - 20px);
    //   margin-top: 10px;
    //   margin-left: 10px;

    

    
  }

  .work__item:hover,
  .work__item:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    
    

    
  }

  .work__card {
    position: relative;
    padding: 30px 30px;
    /* background-color: rgb(83, 82, 82); */
  }

  .work__element {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 164.9%;

    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.08em;
    
  }

  .work__text {
    color: black;
  /* width: 270px; */
  height: 16px;
  left: 215px;
  top: 774px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
  }

  .work__paragraph {
      color: grey;
  width: 270px;

  left: 215px;
  top: 800px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
   font-weight: 100;
   text-align: center;
   /* padding-bottom: 55px; */
    padding-left: 15px;
    padding-right: 15px;
    
}
  

  

  .work__thumb--svg {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 39px;
    margin-bottom: 39px;
    
  }

.hero__btn--containerr {
    margin-left: 120px;
    margin-top: 50px;
}

.hero__btnn {
font-size: 16px;
    line-height: 1.87;
    color: #ffffff;
    background-color: rgb(255, 81, 0);
    box-shadow: 0px 4px 4px rgb(70, 67, 67);
    border-radius: 4px;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
}

.hero__btnn:hover {
    background-color: orange;
}

/* секция последняя  */

.last__list {
  flex-wrap: wrap;
  display: flex;
  padding: 0;
  margin: 0;

  margin-left: 0px;
  margin-top: 30px;
}

.last__item {
  flex-basis: calc(100% / 3 - 60px);
  margin-left: 60px;
  margin-top: 60px;
}

.last__item--text {
    color: grey;
  width: 270px;

  left: 215px;
  top: 800px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
   font-weight: 100;
}

.last__item--name {
    /* color: black; */
  width: 270px;
  height: 16px;
  left: 215px;
  top: 774px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  margin-bottom: 10px;
  text-align: center;
}


}


